.trix-button-group--file-tools{
    display: none !important;
}

.recipe-name-input{
    max-width: 100%;
}

.portion-div{
    width: 30px;
    height: 30px;
    float: left;
    margin-left: 5px;
    cursor: pointer;
}