// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Trix
@import "~trix/dist/trix.css";

// Add Recipe
@import "add-recipe";

// Discover Recipes
@import "discover-recipes";

.add-ingredient {
    cursor: pointer;
}

.fa-times {
    cursor: pointer;
}

.ingredient-quantity {
    width: 60px;
}

.fa-arrow-alt-circle-left{
    cursor: pointer;
}

.fa-edit{
    cursor: pointer;
}

.fa-save{
    cursor: pointer;
}